# Coding Temple's Data Analytics Course
---
## Python I: Functions, Scoping, Data Collections 1 & List Comprehensions
---

### Tasks Today:

<i>Monday Additions (or, and ... if statements)</i>

1) String Manipulation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) strip() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) title() <br>
2) Working With Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) min() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) max() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) sum() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) sort() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Copying a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) 'not in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Checking an Empty List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Removing Instances with a Loop <br>
3) List Comprehensions <br>
4) Tuples <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) sorted() <br>
5) Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) User-Defined vs. Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Accepting Parameters <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Default Parameters <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Making an Argument Optional <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Keyword Arguments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) Returning Values <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) *args <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Docstring <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Using a User Function in a Loop <br>
6) Scope

### String Manipulation

##### .lstrip()

In [2]:
# string.lstrip()
# Removes whitespace from the lefthand side of a string
name = '          hJohn Smith'
print(name.lstrip(" " "h"))

John Smith

##### .rstrip()

In [3]:
#string.rstrip()
# Removes whitespace from the righthand side of a string

name = 'Bob Ross        th'
print(name.rstrip(" " "th"))

Bob Ross

##### .strip()

In [4]:
# string.strip()
name = '      John Smith          '

print(name.strip())

John Smith

#### .upper()
#### .lower()

In [5]:
# string.lower()
name = 'John Smith'

print(name.lower())

#string.upper()

print(name.upper())

john smith
JOHN SMITH

##### .title()

In [6]:
# string.title()
president = 'joe biden'
print(president.title())

Joe Biden

### String Exercise <br>
<p>Strip all white space and capitalize every name in the list given</p>

In [7]:
names = ['    coNNor', 'max', ' EVan ', 'JORDAN']
# HINT: You will need to use a for loop for iteration
lst_1 = []
for name in names:
    lst_1.append(name.strip().title())
print(lst_1)

# Using list comprehension
lst = [name.strip().title() for name in names]
print(lst)

['Connor', 'Max', 'Evan', 'Jordan']
['Connor', 'Max', 'Evan', 'Jordan']

### Working With Lists

##### min()

In [8]:
# min(list)
numbers = [4,2,97,54,16]
print(min(numbers))
print(type(min(numbers)))

2
<class 'int'>

##### max()

In [9]:
# max(list)
print(max(numbers))

97

##### sum()

In [10]:
#sum(list)
print(sum(numbers))

173

##### sorted()

In [11]:
# print(numbers)

sorted_numbers = sorted(numbers)
print(numbers)
print(sorted_numbers)

[4, 2, 97, 54, 16]
[2, 4, 16, 54, 97]

##### .sort() <br>
<p>Difference between sort and sorted, is that sorted doesn't change original list it returns a copy, while .sort changes the original list</p>

In [12]:
# list.sort()
print(f'Before Sorting: {numbers}')
numbers.sort()
print(f'After Sorting: {numbers}')

Before Sorting: [4, 2, 97, 54, 16]
After Sorting: [2, 4, 16, 54, 97]

##### Copying a List

In [13]:
# [:] copies the list, doesn't do anything to the original.
list_1 = numbers[:]
print(list_1)

[2, 4, 16, 54, 97]

##### 'in' keyword

In [14]:
ct_teachers = ['Alex', 'Branden','Conner', 'Brian', 'Ryan']

if 'Ryan' in ct_teachers:
    print('Coding Temple Instructor')
else: print("Not an Instructor")

Coding Temple Instructor

In [15]:
# Looking inside the list for specific characters

for name in ct_teachers:
    if 'C' in name[0]:
        print('Found')
        print(name)
    else:
        print('Not Found')

Not Found
Not Found
Found
Conner
Not Found
Not Found

##### 'not in' keyword

In [16]:
if 'Noki' not in ct_teachers:
    print("He is a student")
    

for name in ct_teachers:
    if 'A' not in name[0]:
        print('Not Found')
    else:
        print('Found', name)

He is a student
Found Alex
Not Found
Not Found
Not Found
Not Found

##### Checking an Empty List

In [17]:
l_2 = []

if not l_2:
    print('Empty')

Empty

In [18]:
l_3 = [1,2,3]

if l_3:
    print('Has items')

Has items

##### Removing Instances with a Loop

In [19]:
names = ['Connor', 'Joel', 'Max', 'Evan', 'Steven', 'Rob', 'Evan']

while 'Evan' in names:
    names.remove('Evan')
print(names)

for name in names:
    if name == 'Evan':
        names.remove('Evan')
print(names)

['Connor', 'Joel', 'Max', 'Steven', 'Rob']
['Connor', 'Joel', 'Max', 'Steven', 'Rob']

### List Exercise <br>
<p>Remove all duplicates<br><b>Extra: Create a program that will remove any duplicates from a given list</b></p>

In [20]:
names = ['connor', 'connor', 'bob', 'connor', 'evan', 'max', 'evan', 2, 2, 2, 3, 3, 4, 'bob', 'kevin']
# Hint 1: You will need an append
# Hint 2: Using an empty list will make life easier
def new_list(existing_list: list):

    new_names = []

    for name in names:
        if name not in new_names:
            new_names.append(name)
    # print(f'New list after removing all duplicates: {new_names}')
    return new_names

new_list(names)

['connor', 'bob', 'evan', 'max', 2, 3, 4, 'kevin']

### List Comprehensions <br>
<p>Creating a quickly generated list to work with<br>*result*  = [*transform*    *iteration*         *filter*     ]</p>

##### In a list comprehension we have a few pieces:
1. The first is the counter/ variable - IN this the variable is x
2. then we have a transform for the variable
3. The finale part of a list comp is called the condition

```python
    [variable, transform, condition]
```

In [21]:
# Number comprehension
nums = []

for value in range(100):
    nums.append(value)
print(nums)

# in list comprehension there are a few different pieces,
# The is variable, counter, whatever instance you are trying to access from an iterable.
# Then transformation to the variable
# Final part is the condition

# [variable, transform, condition]

# List Comprehension
[value for value in range(100)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

There are a few benefits to using List comprehensions. The most obvious would be that we now have shorter code to work with instead of using 3+ lines of code in the for loop variant.

Another is an added benefit to memory usage. Since the list's memory is allocated first before adding elements to it, we don't have to resize the list once we add elements to it.

Lastly, list comprehensions are considered the "pythonic" way to write code by the PEP8 standards (Python Style Guide)

In [22]:
# Square number comprehension
squared = [value**2 for value in range(10)]
squared

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [23]:
# String comprehension
names = ['Connor', 'Max', 'Evan' , 'Rob']
first_letter = [name[0] for name in names] # get first letter of every name
print(first_letter)

first_letter_1 = []
for name in names:
    first_letter_1.append(name[0])
    
print(first_letter_1
      )

['C', 'M', 'E', 'R']
['C', 'M', 'E', 'R']

In [24]:
# For loop
c_reg = []

for first_name in names:
    if first_name[0] == 'C':
        c_reg.append(first_name)
print(c_reg)

['Connor']

In [25]:
# List comprehension
[first_name for first_name in names if first_name[0] == 'C']

['Connor']

### Tuples <br>
<p><b>Defined as an immutable list</b></p><br>Seperated by commas using parenthesis

In [26]:
tup_1 = 1,2,3 # One way of creating a tuple
tup_2 = (1,2,3) # Another way of creating a tuple

# print(tup_1)
# print(type(tup_1))

# # Loop over a tuple
# for value in tup_1:
#     print(value)
    
# Loop over a tuple with an index using range
for index_position in range(len(tup_2)):
    print(tup_2[index_position])

1
2
3

##### sorted()

In [1]:
tup_3 = (20,5,1,3,9,45)

sorted_tup = sorted(tup_3)
print(sorted_tup)
print(type(sorted_tup))
print(tup_3)
print(type(tup_3))

rand_list = [3,4,66,77,33]
combined = tuple(sorted(sorted_tup + rand_list))
print(combined)
print(type(combined))

[1, 3, 5, 9, 20, 45]
<class 'list'>
(20, 5, 1, 3, 9, 45)
<class 'tuple'>
(1, 3, 3, 4, 5, 9, 20, 33, 45, 66, 77)
<class 'tuple'>

##### Adding values to a Tuple

In [28]:
tup_1 = tup_1 + (5,4,)
print(tup_1)
print(type(tup_1))

(1, 2, 3, 5, 4)
<class 'tuple'>

## Functions

##### User-Defined vs. Built-In Functions

In [10]:
def say_hello():
    return 'Hello World!'

print(say_hello())

var2= say_hello()
print(type(var2))

Hello World!
<class 'str'>

##### Accepting Parameters

In [15]:
def print_full_name(first_name: str, last_name: str):
    return f'Hello {first_name} {last_name}'

print(print_full_name(1*4,'Lucchesi'))

Hello 4 Lucchesi*3

##### Default Parameters

In [31]:
def print_agent_name(first_name, last_name = 'Bond'):
    return f'The name is... {last_name}... {first_name} {last_name}'

print(print_agent_name('James'))
print(print_agent_name(first_name='James'))
print(print_agent_name(first_name='James', last_name= 'Bond'))

print(print_agent_name('Mr.', 'Miyagi'))
print(print_agent_name(first_name='Mr.', last_name='Miyagi'))

The name is... Bond... James Bond
The name is... Bond... James Bond
The name is... Bond... James Bond
The name is... Miyagi... Mr. Miyagi
The name is... Miyagi... Mr. Miyagi

##### Making an Argument Optional

In [16]:
def print_horse_name(first, middle = '', last='Ed'):
    
    if middle == '':
        return f'Hello {first} {last}'
    
    return f'Hello {first} {middle} {last}'

print_horse_name('Mr')

'Hello Mr Ed'

##### Keyword Arguments

In [33]:
henry = print_horse_name('Henry')

dir(henry)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

# Creating a start, stop, step function

In [34]:
def my_range(stop, start=0, step=1):
    return [i for i in range(start, stop, step)]
    # lst = []
    # for i in range(start, stop, step):
    #     lst.append(i)
    # return lst
        
my_range(20,1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

##### Returning Values

In [35]:
#see above

##### *args

In [36]:
#stands for arguments. They take any number of arguments
# must also be LAST if multiple parameters are present.

def print_args(num1, *args, **kwargs):
    print(num1)
    print(args)
    
    for arg in args:
        print(arg)
        
    for kwarg in kwargs:
        print(kwarg)
        
print_args(36, 'DragonZord', 'peanut', 2,3, testing='Alex', favorite_color = 'Green')

36
('DragonZord', 'peanut', 2, 3)
DragonZord
peanut
2
3
testing
favorite_color

##### Docstring

In [37]:
def print_names(list_1: list):
    '''
    print_names takes a single list as an input
    Function requrires list as parameter
    Prints contents of the list and 
    Expects a list of names(as strings) to be passed.
    '''
    for name in list_1:
        print(name)
        
print_names(['Bobby' ,'George', 'Ramon'])
help(print_names)

Bobby
George
Ramon
Help on function print_names in module __main__:

print_names(list_1: list)
    print_names takes a single list as an input
    Function requrires list as parameter
    Prints contents of the list and
    Expects a list of names(as strings) to be passed.

##### Using a User Function in a Loop

In [1]:
# any function that expects an input from a user!
def print_input(answer):
    """
    Print input expects the user to input a string value
    Function will ask three questions, and quit when 
    a user responds with the 'quit' option.
    """
    
    response = input('Are you ready to quit??')
    
    while True:
        ask = input("What do you want to do?")
        
        print_input(ask)
        
        response = input('Ready Yet?')
        if response.lower() == 'quit':
            break
        
print_input('Hiking')

## Function Exercise <br>
<p>Write a function that loops through a list of first_names and a list of last_names, combines the two and return a list of full_names</p>

In [19]:
first_name = ['John', 'Evan', 'Jordan', 'Max']
last_name = ['Smith', 'Smith', 'Williams', 'Bell']

# Output: ['John Smith', 'Evan Smith', 'Jordan Williams', 'Max Bell']

def name_generator(first_name: list, last_name:list):
    lst = []
    for index_position in range(len(first_name)):
        new_name = first_name[index_position] + ' ' + last_name[index_position]
        lst.append(new_name)
    return lst
name_generator(first_name, last_name)

['John Smith', 'Evan Smith', 'Jordan Williams', 'Max Bell']

## Scope <br>
<p>Scope refers to the ability to access variables, different types of scope include:<br>a) Global<br>b) Function (local)<br>c) Class (local)</p>

In [ ]:
number = 3

def my_func():
    doubled_number = 6
    return doubled_number
my_func()
print(my_func())
print(number)

6
3